<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Posts</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} ">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav th:replace="fragments/header :: header"></nav>

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <!--/*@thymesVar id="post" type="com.falcon.forum.model.PostDTO"*/-->
        <div class="card text-center" th:object="${post}">
            <div class="card-header" th:text="${author}">
                UserName
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}">Title</h5>
                <p class="card-text" th:text="${post.content}">Content</p>
            </div>
            <div class="card-footer text-muted">

                <div class="d-inline float-right">
                    <small th:text="'Created: ' + ${#temporals.format(post.created, 'dd-MM-yyyy')}"></small>
                </div>

                <div class="d-inline float-left">
                    <small th:text="'Last update: ' + ${#temporals.format(post.updated, 'dd-MM-yyyy')}"></small>
                </div>
            </div>
        </div>

        <!--/*@thymesVar id="answers" type="com.falcon.forum.model.CommentsDTO"*/-->
        <th:block th:each="answer:${answers}">
            <div class="card">
                <div class="card-header" th:text="${author}">
                    Author
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p th:text="${answer.commentMessage}">Comment</p>
                    </blockquote>
                </div>
            </div>
        </th:block>


        <!--/*@thymesVar id="comment" type="com.falcon.forum.model.CommentsDTO"*/-->
        <form method="post" action="#" th:object="${comment}" th:action="@{'/posts/post/'}+${postId}+'/answer'">
            <div class="form-group ">
                <label for="commentMessage">Answer</label>
                <textarea class="form-control" id="commentMessage" rows="3" th:field="*{commentMessage}"></textarea>
                <p th:if="${#fields.hasErrors('commentMessage')}" th:errors="*{commentMessage}">Name of Error</p>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"/>
        </form>
        <a th:href="@{'/posts/post/'}+${postId}" th:text="'Back to Post'" class="btn btn-outline-warning btn-lg btn-block"> </a>
    </div>
</div>

</body>
</html>