<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tags Form</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} ">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

    </script>

</head>
<body>
<nav th:replace="fragments/header :: header">

</nav>

<!--/*@thymesVar id="tags" type="Falcon.Persist.Tags"*/-->
<div class="container">
    <div class="jumbotron">
        <form method="post" action="#" th:object="${tags}" th:action="@{/tags/creator/edit/}+${postId}">

            <div class="form-group">
                <label for="tagsContent">Enter tags here, for example: <br/>Java Spring Spring-Boot</label>
                <textarea class="form-control" rows="5" id="tagsContent" th:field="${tags.tag}">
                    </textarea>
                <p th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Name of Error</p>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary"/>

        </form>
    </div>
</div>
</body>
</html>