<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Posts</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} ">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav th:replace="fragments/header :: header"></nav>

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <!--/*@thymesVar id="post" type="com.falcon.forum.model.PostDTO"*/-->
        <div class="card" th:object="${post}">
            <div class="card-header">

                <div th:unless="${isAuthor}" class="d-flex justify-content-between">
                    <div th:unless="${isPostVoteAuthor}" class="voteUp">
                        <a th:href="@{'/voteupPost/'}+${post.id}">
                            <i class="fa fa-caret-square-o-up fa-2x" style="color: green"></i>
                        </a>
                    </div>
                    <div th:unless="${isPostVoteAuthor}" class="author">
                        <h5 th:text="${author}">Author</h5>
                    </div>
                    <div th:unless="${isPostVoteAuthor}" class="voteDown">
                        <a th:href="@{'/votedownPost/'}+${post.id}">
                            <i class="fa fa-caret-square-o-down fa-2x" style="color:red"></i>
                        </a>
                    </div>
                </div>

                <div th:if="${isAuthor}" class="d-flex justify-content-center"><h5 th:text="${author}">Author</h5></div>
                <div th:if="${isPostVoteAuthor}" class="d-flex justify-content-center">
                    <h5 th:text="${author}">Author</h5>
                </div>


            </div>
            <div class="card-body text-center">
                <div th:if="${edit}" class="d-inline float-left">
                    <a th:href="@{/edit/}+${post.id}">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>


                <div th:if="${delete}" class="d-inline float-right">
                    <a th:href="@{/delete/}+${post.id}">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
                <h5 class="card-title" th:text="${post.title}">Title</h5>
                <p class="card-text" th:text="${post.content}">Content</p>
                <a th:href="@{'/posts/post/'}+${post.id}+'/answer'" class="btn btn-primary">Add comment</a>
            </div>
            <div class="card-footer text-muted">

                <div class="d-inline float-right">
                    <small th:text="'Created: ' + ${#dates.format(post.created, 'dd-MM-yyyy HH:mm')}"></small>
                </div>

                <div class="d-inline-center">
                    <small th:text="'Collected points: ' + ${post.points}" ></small>
                </div>

                <div class="d-inline float-left">
                    <small th:text="'Last update: ' + ${#dates.format(post.updated, 'dd-MM-yyyy HH:mm')}"></small>
                </div>
            </div>


            <!--/*@thymesVar id="answer" type="com.falcon.forum.persist.Comments"*/-->
            <th:block th:each="answer:${answers}">
                <!-- uncorrect answer -->
                <div th:unless="${answer.isCorrect}" class="card mt-2">
                    <div class="card-header">
                        <div class="d-flex mb-1">
                            <div class="mr-auto p-2">
                                <h5 th:text="${answer.user.username}"></h5>
                            </div>
                            <div class="p-2">
                                <div th:if="${answer.user.username}==${username}" class="d-inline float-left">
                                    <a th:href="@{'/posts/post/'}+${postId}+'/answer/'+${answer.id}+'/edit'">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-2">
                                <div th:if="${isAuthor}" class="d-inline float-left">
                                    <a th:href="@{'/correctAnswer/'}+${answer.id}">
                                        <i class="fa fa-check fa-2x" style="color: green"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--Vote service for answer -->
                        <div th:unless="${answer.user.username}==${username}" class="d-flex justify-content-center">
                            <div class="voteUp">
                                <a th:href="@{'/voteup/'}+${answer.id}">
                                    <i class="fa fa-caret-square-o-up fa-2x" style="color: green"></i>
                                </a>
                            </div>
                            <div class="author ml-2">
                                <p th:text="${answer.points}">Author</p>
                            </div>
                            <div class="voteDown ml-2">
                                <a th:href="@{'/votedown/'}+${answer.id}">
                                    <i class="fa fa-caret-square-o-down fa-2x" style="color:red"></i>
                                </a>
                            </div>
                        </div>

                        <div th:if="${answer.user.username}==${username}" class="d-flex justify-content-center">
                            <div class="voteUp">
                                <i class="fa fa-caret-square-o-up fa-2x" style="color: grey"></i>
                            </div>
                            <div class="author ml-2">
                                <p th:text="${answer.points}">Author</p>
                            </div>
                            <div class="voteDown ml-2">
                                <i class="fa fa-caret-square-o-down fa-2x" style="color:grey"></i>
                            </div>
                        </div>

                        <!--End of vote service -->

                        <div class="d-flex mb-1">
                            <div class="mr-auto p-2 text-muted">
                                <small th:text="'Created: ' + ${#dates.format(answer.createdDate, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>

                            <div class="p-2 text-muted">
                                <small th:text="'Last update: ' + ${#dates.format(answer.updatedDate, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p th:text="${answer.commentMessage}">Comment</p>
                        </blockquote>
                    </div>
                </div>


                <!-- correct answer -->
                <div th:if="${answer.isCorrect}" class="card  mt-2">
                    <div class="card-header">
                        <div class="d-flex mb-1">
                            <div class="mr-auto p-2">
                                <h5 th:text="${answer.user.username}"></h5>
                            </div>
                            <div class="p-2">
                                <div th:if="${answer.user.username}==${username}" class="d-inline float-left">
                                    <a th:href="@{'/posts/post/'}+${postId}+'/answer/'+${answer.id}+'/edit'">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="p-2">
                                <div th:if="${isAuthor}" class="d-inline float-left">
                                    <a th:href="@{'/correctAnswer/'}+${answer.id}">
                                        <i class="fa fa-check fa-2x" style="color: green"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${answer.user.username}==${username}" class="d-flex justify-content-center">
                            <div class="voteUp">
                                <a th:href="@{'/voteup/'}+${answer.id}">
                                    <i class="fa fa-caret-square-o-up fa-2x" style="color: green"></i>
                                </a>
                            </div>
                            <div class="author ml-2">
                                <p th:text="${answer.points}">Author</p>
                            </div>
                            <div class="voteDown ml-2">
                                <a th:href="@{'/votedown/'}+${answer.id}">
                                    <i class="fa fa-caret-square-o-down fa-2x" style="color:red"></i>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex mb-1">
                            <div class="mr-auto p-2 text-muted">
                                <small th:text="'Created: ' + ${#dates.format(answer.createdDate, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>

                            <div class="p-2 text-muted">
                                <small th:text="'Last update: ' + ${#dates.format(answer.updatedDate, 'dd-MM-yyyy HH:mm')}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-success">
                        <blockquote class="blockquote mb-0">
                            <p th:text="${answer.commentMessage}">Comment</p>
                        </blockquote>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>