<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Post Form</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} ">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">

    </script>

</head>

<body>

<nav th:replace="fragments/header :: header">

</nav>

<div class="container">
    <div class="jumbotron">
        <!--/*@thymesVar id="post" type="com.falcon.forum.persist.Post"*/-->
        <form method="post" action="#" th:object="${post}" th:action="@{/creator}">

            <p th:if="${exist} == true" th:text="'Post already exist please reload the page'">Error message</p>

            <div class="form-group">
                <label for="postTitle">Title</label>
                <input type="text" class="form-control" id="postTitle" placeholder="Enter title" th:field="*{title}">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name of Error</p>
            </div>

            <div class="form-group">
                <label for="postContent">Text</label>
                <textarea class="form-control" rows="5" id="postContent" th:field="*{content}">
                    </textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Name of Error</p>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary"/>

        </form>
    </div>
</div>


</body>


</html>