<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Posts</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} ">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <!--/*@thymesVar id="post" type="Falcon.Persist.Post"*/-->
        <th:block th:each="post : ${posts}">
            <div class="card mt-3">
                <div class="card-header">
                    <a th:href="@{'/posts/post/'}+${post.id}" th:text="${post.title}"
                       class="btn btn-primary btn-lg btn-block">Post</a>
                </div>
                <div class="card-body">
                    <div class="d-flex bd-highlight mb-1">
                        <th:block th:each="oneTag : ${post.tags}">
                            <div class="p-2 bd-highlight">
                                <h5 class="card-text" th:text="${oneTag.tag}+'&nbsp;'">tags </h5>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="card-footer text-muted"
                     th:text="'Created: &nbsp;' + ${#dates.format(post.createdDate, 'dd-MM-yyyy HH:mm')}">
                    created
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>